@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
body {
  background: #fff6d9;
  color: #13238B;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 36px;
  }
}

a:link,
a:hover,
a:active,
a:visited {
  color: #13238B;
}

button {
  background: #F2BD1D;
  position: relative;
  width: 200px;
  border-radius: 40px;
  padding: 15px;
  font-size: 24px;
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

button span {
  position: relative;
  z-index: 1;
}

button:before {
  content: "";
  position: absolute;
  border-radius: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-clip-path: circle(0 at left);
          clip-path: circle(0 at left);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

button:hover:before {
  opacity: 0.5;
  -webkit-clip-path: circle(100px at center);
          clip-path: circle(100px at center);
}

button:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.3);
          box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.3);
  color: #B4152F;
}

.title {
  padding: 15px;
  margin: 12px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -o-border-image: url(../img/red-border.svg) 20 0 round;
     border-image: url(../img/red-border.svg) 20 0 round;
}

.card {
  width: 400px;
  height: 600px;
  padding: 15px;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.3);
          box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

.content-wrapper {
  width: 450px;
  margin-bottom: 60px;
  z-index: 1;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  -webkit-transition: ease-in 3s;
  transition: ease-in 3s;
}

.img-wrapper .img {
  -webkit-clip-path: path("M472.612,296.25a222.681,222.681,0,0,1-44.689,94.236q-33.517,41.775-84.521,52.947a512.849,512.849,0,0,1-99.579,12.144,328.358,328.358,0,0,1-97.636-13.115Q97.125,428.375,72.351,383.2t-34-92.293A276.327,276.327,0,0,1,36.406,195.7q7.286-48.09,42.746-81.121a478.665,478.665,0,0,1,75.777-57.8Q195.247,32,243.822,32a249.221,249.221,0,0,1,94.236,18.459q45.661,18.459,64.119,63.148t50.033,87.436Q483.784,243.788,472.612,296.25Z");
          clip-path: path("M472.612,296.25a222.681,222.681,0,0,1-44.689,94.236q-33.517,41.775-84.521,52.947a512.849,512.849,0,0,1-99.579,12.144,328.358,328.358,0,0,1-97.636-13.115Q97.125,428.375,72.351,383.2t-34-92.293A276.327,276.327,0,0,1,36.406,195.7q7.286-48.09,42.746-81.121a478.665,478.665,0,0,1,75.777-57.8Q195.247,32,243.822,32a249.221,249.221,0,0,1,94.236,18.459q45.661,18.459,64.119,63.148t50.033,87.436Q483.784,243.788,472.612,296.25Z");
}

.img-wrapper .img img {
  width: 600px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}

.desktop {
  display: block;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

input[type="text"],
input[type="number"],
input[type="email"],
input,
input:valid,
input:focus,
input:-webkit-autofill,
select,
textarea,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: #F2BD1D !important;
  border-radius: 10px;
  padding: 5px 5px;
  color: #13238B;
  font-size: 20px;
  min-height: 24px;
  border: 0px;
}

@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input,
  input:valid,
  input:focus,
  input:-webkit-autofill,
  select,
  textarea,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    font-size: 16px;
  }
}

input:-webkit-autofill {
  background: #F2BD1D !important;
  border-radius: 10px;
  padding: 5px 5px;
  color: pink;
  font-size: 20px;
  min-height: 24px;
  border: 0px;
}

textarea {
  height: 60px;
}

.hero {
  width: 100%;
  height: calc(100vh - 250px);
}

@media screen and (max-width: 768px) {
  .hero {
    height: 800px;
    overflow: hidden;
  }
}

.hero .sec {
  height: 100%;
  padding: 30px;
  padding: 100px 0 0 0;
}

@media screen and (max-width: 768px) {
  .hero .sec {
    padding: 40px 0 0 0;
    height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.hero .sec .cta {
  position: fixed;
  bottom: -3%;
  right: -2%;
  z-index: 10;
}

.hero .sec .cta button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  font-size: 16px;
  opacity: .8;
  color: #B4152F;
}

.hero .left {
  height: 100%;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .hero .left {
    margin-top: 100px;
    width: 100%;
  }
}

.hero .left .card-wrapper {
  z-index: 1;
  width: 100%;
  height: 361px;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-top: 30px;
  }
}

.hero .left .card-wrapper .flower {
  bottom: -410px;
  left: -12%;
  position: absolute;
  -webkit-transform: rotate(230deg) translate(40%, 0px);
          transform: rotate(230deg) translate(40%, 0px);
  z-index: 6;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .flower {
    -webkit-transform: rotate(183deg) scale(0.8);
            transform: rotate(183deg) scale(0.8);
    left: -8%;
    bottom: -50%;
  }
}

.hero .left .card-wrapper .card {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card {
    left: 50%;
    -webkit-transform-origin: 25% 0;
            transform-origin: 25% 0;
  }
}

.hero .left .card-wrapper .card:nth-child(1) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: url(../img/1-1-1.jpg);
  background-position: top;
  background-size: cover;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card:nth-child(1) {
    -webkit-transform: rotate(-10deg) translate(-45%, 0%) scale(0.6);
            transform: rotate(-10deg) translate(-45%, 0%) scale(0.6);
  }
}

.hero .left .card-wrapper .card:nth-child(2) {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  background: url(../img/1-2-2.jpg);
  background-position: top;
  background-size: cover;
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card:nth-child(2) {
    -webkit-transform: rotate(-5deg) translate(-45%, 0%) scale(0.6);
            transform: rotate(-5deg) translate(-45%, 0%) scale(0.6);
  }
}

.hero .left .card-wrapper .card:nth-child(3) {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background: url(../img/1-3-3.jpg);
  background-position: top;
  background-size: cover;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card:nth-child(3) {
    -webkit-transform: rotate(1deg) translate(-45%, 0%) scale(0.6);
            transform: rotate(1deg) translate(-45%, 0%) scale(0.6);
  }
}

.hero .left .card-wrapper .card:nth-child(4) {
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
  background: url(../img/1-4-4.jpg);
  background-position: top;
  background-size: cover;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card:nth-child(4) {
    -webkit-transform: rotate(-11deg) translate(-50%, 0%) scale(0.6);
            transform: rotate(-11deg) translate(-50%, 0%) scale(0.6);
  }
}

.hero .left .card-wrapper .card:nth-child(5) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  background: url(../img/1-5-5.jpg);
  background-position: top;
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hero .left .card-wrapper .card:nth-child(5) {
    -webkit-transform: rotate(-4deg) translate(-43%, 0%) scale(0.6);
            transform: rotate(-4deg) translate(-43%, 0%) scale(0.6);
  }
}

.hero .right .content-wrapper {
  width: 300px;
  margin-bottom: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hero .right .content-wrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.hero .right .content-wrapper .hero-title img {
  height: 48px;
}

.hero .right .content-wrapper .title {
  width: 100%;
  padding: 15px 0;
  margin: 12px 0;
}

.hero .right .content-wrapper button {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .hero .right .content-wrapper button {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 20px;
  }
}

.content-wrapper:hover .hero-title > img {
  -webkit-animation: titleFlower 1s ease-in infinite;
          animation: titleFlower 1s ease-in infinite;
}

@-webkit-keyframes titleFlower {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes titleFlower {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.bubble-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  background: transparent;
}

.bubble-wrapper .bubble {
  position: absolute;
  border-radius: 50%;
  background: #F2BD1D;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bubble-wrapper .bubble {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.bubble-wrapper .bubble:nth-child(1) {
  width: 350px;
  height: 350px;
  bottom: -150px;
  right: -8%;
}

.bubble-wrapper .bubble:nth-child(2) {
  width: 80px;
  height: 80px;
  bottom: -30px;
  right: 12%;
}

.bubble-wrapper .bubble:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -50px;
  right: 15%;
}

.bubble-wrapper .bubble:nth-child(4) {
  width: 100px;
  height: 100px;
  bottom: -20px;
  right: 24%;
}

.bubble-wrapper .bubble:nth-child(5) {
  width: 250px;
  height: 250px;
  bottom: -150px;
  right: 30%;
}

.bubble-wrapper .bubble:nth-child(6) {
  width: 100px;
  height: 100px;
  bottom: -50px;
  left: 50%;
}

.bubble-wrapper .bubble:nth-child(7) {
  width: 300px;
  height: 300px;
  bottom: -230px;
  left: 35%;
}

.bubble-wrapper .bubble:nth-child(8) {
  width: 80px;
  height: 80px;
  bottom: -10px;
  left: 33%;
}

.bubble-wrapper .bubble:nth-child(9) {
  width: 150px;
  height: 150px;
  bottom: -120px;
  left: 25%;
}

.bubble-wrapper .bubble:nth-child(10) {
  width: 250px;
  height: 250px;
  bottom: -180px;
  left: 10%;
}

.bubble-wrapper .bubble:nth-child(11) {
  width: 100px;
  height: 100px;
  bottom: -12px;
  left: 8%;
}

@media screen and (max-width: 768px) {
  .bubble-wrapper .bubble:nth-child(11) {
    left: -5%;
  }
}

.bubble-wrapper .bubble:nth-child(12) {
  width: 200px;
  height: 200px;
  bottom: -130px;
  left: 5%;
}

@media screen and (max-width: 768px) {
  .bubble-wrapper .bubble:nth-child(12) {
    left: -5%;
  }
}

@-webkit-keyframes hero-bg {
  from {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  to {
    background-repeat: no-repeat;
    background-size: 800%;
  }
}

@keyframes hero-bg {
  from {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  to {
    background-repeat: no-repeat;
    background-size: 800%;
  }
}

.light-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
}

@media screen and (max-width: 768px) {
  .light-wrapper {
    height: 1000px;
  }
}

.light-wrapper .light {
  width: 50px;
  height: 100%;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  background-color: #fcdd76;
  opacity: 0;
  left: 75%;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-animation: light1 10s ease-in-out infinite;
          animation: light1 10s ease-in-out infinite;
}

.light-wrapper .light-group {
  width: 30%;
}

.light-wrapper .light-group .light:nth-child(1) {
  width: 100px;
  -webkit-animation: light 5s ease-in infinite;
          animation: light 5s ease-in infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.light-wrapper .light-group .light:nth-child(2) {
  width: 50px;
  -webkit-animation: light 3s ease-in infinite;
          animation: light 3s ease-in infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.light-wrapper .light-group .light:nth-child(3) {
  width: 30px;
  -webkit-animation: light 3s ease-in infinite;
          animation: light 3s ease-in infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes light1 {
  0% {
    width: 50px;
    opacity: 0;
    left: 75%;
  }
  50% {
    width: 400px;
    opacity: 0.7;
    left: 60%;
  }
  100% {
    width: 700px;
    opacity: 0;
    left: 50%;
  }
}

@keyframes light1 {
  0% {
    width: 50px;
    opacity: 0;
    left: 75%;
  }
  50% {
    width: 400px;
    opacity: 0.7;
    left: 60%;
  }
  100% {
    width: 700px;
    opacity: 0;
    left: 50%;
  }
}

@-webkit-keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.sec-1 {
  width: 100%;
  height: 500px;
  margin-bottom: -125px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .sec-1 {
    height: 800px;
  }
}

.sec-1 .row {
  background: #F2BD1D;
  width: 100%;
  height: 600px;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .sec-1 .row {
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sec-1 .row .title {
  position: relative;
  width: 336px;
}

@media screen and (max-width: 768px) {
  .sec-1 .row .title {
    width: auto;
  }
}

.sec-1 .row .picture {
  width: 500px;
  height: 500px;
  -webkit-clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
          clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
  background: url(../img/live-1.png);
  background-size: cover;
  background-position: center;
  -webkit-animation: sec-1-pic-big 10s ease-in-out infinite;
          animation: sec-1-pic-big 10s ease-in-out infinite;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .sec-1 .row .picture {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-top: -130px;
  }
}

.sec-1 .row .content-wrapper {
  margin-bottom: 0;
  margin-left: 20%;
  padding-top: 60px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .sec-1 .row .content-wrapper {
    margin-top: -60px;
    margin-left: 0;
    padding-top: 0px;
    width: 100%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.sec-1 .row .content-wrapper .picture {
  position: absolute;
  width: 350px;
  height: 350px;
  -webkit-clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
          clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
  background: url(../img/sec1-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: sec-1-pic-small 4s ease-in-out infinite;
          animation: sec-1-pic-small 4s ease-in-out infinite;
  bottom: 5%;
  left: -60%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .sec-1 .row .content-wrapper .picture {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes sec-1-pic-big {
  0% {
    -webkit-clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
            clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
  }
  25% {
    -webkit-clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
            clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
  }
  50% {
    -webkit-clip-path: path("M468,302.5Q469,355,432.5,394Q396,433,350,460Q304,487,250,487.5Q196,488,160.5,447.5Q125,407,81,380Q37,353,29,301.5Q21,250,27.5,198Q34,146,71,109Q108,72,155.5,59Q203,46,249,49.5Q295,53,336.5,71.5Q378,90,420,119Q462,148,464.5,199Q467,250,468,302.5Z");
            clip-path: path("M468,302.5Q469,355,432.5,394Q396,433,350,460Q304,487,250,487.5Q196,488,160.5,447.5Q125,407,81,380Q37,353,29,301.5Q21,250,27.5,198Q34,146,71,109Q108,72,155.5,59Q203,46,249,49.5Q295,53,336.5,71.5Q378,90,420,119Q462,148,464.5,199Q467,250,468,302.5Z");
  }
  75% {
    -webkit-clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
            clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
  }
  100% {
    -webkit-clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
            clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
  }
}

@keyframes sec-1-pic-big {
  0% {
    -webkit-clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
            clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
  }
  25% {
    -webkit-clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
            clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
  }
  50% {
    -webkit-clip-path: path("M468,302.5Q469,355,432.5,394Q396,433,350,460Q304,487,250,487.5Q196,488,160.5,447.5Q125,407,81,380Q37,353,29,301.5Q21,250,27.5,198Q34,146,71,109Q108,72,155.5,59Q203,46,249,49.5Q295,53,336.5,71.5Q378,90,420,119Q462,148,464.5,199Q467,250,468,302.5Z");
            clip-path: path("M468,302.5Q469,355,432.5,394Q396,433,350,460Q304,487,250,487.5Q196,488,160.5,447.5Q125,407,81,380Q37,353,29,301.5Q21,250,27.5,198Q34,146,71,109Q108,72,155.5,59Q203,46,249,49.5Q295,53,336.5,71.5Q378,90,420,119Q462,148,464.5,199Q467,250,468,302.5Z");
  }
  75% {
    -webkit-clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
            clip-path: path("M455,299Q454,348,424,389Q394,430,348.5,457Q303,484,248.5,488.5Q194,493,148.5,463.5Q103,434,78,389.5Q53,345,33.5,297.5Q14,250,25,198.5Q36,147,70.5,107.5Q105,68,150.5,39.5Q196,11,248.5,19.5Q301,28,352.5,42.5Q404,57,424,107Q444,157,450,203.5Q456,250,455,299Z");
  }
  100% {
    -webkit-clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
            clip-path: path("M485.5,304Q474,358,439.5,401Q405,444,352.5,455.5Q300,467,250,468Q200,469,149.5,454.5Q99,440,73.5,393.5Q48,347,38.5,298.5Q29,250,36.5,200.5Q44,151,80.5,117Q117,83,158.5,57.5Q200,32,250,32Q300,32,347,51Q394,70,413,116Q432,162,464.5,206Q497,250,485.5,304Z");
  }
}

@-webkit-keyframes sec-1-pic-small {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes sec-1-pic-small {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

.sec-1-5.bubble-wrapper {
  overflow: hidden;
  height: 250px !important;
  z-index: 1;
}

.sec-1-5.bubble-wrapper .bubble {
  position: absolute;
  border-radius: 50%;
  background: #F2BD1D;
  position: absolute;
  top: 0;
  z-index: -1;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(1) {
  width: 250px;
  height: 250px;
  right: -3%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(2) {
  width: 150px;
  height: 150px;
  right: 10%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(3) {
  width: 120px;
  height: 120px;
  right: 15%;
  top: 40%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(4) {
  width: 150px;
  height: 150px;
  right: 20%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(5) {
  width: 200px;
  height: 200px;
  left: 60%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(6) {
  width: 120px;
  height: 120px;
  left: 55%;
  top: 20%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(7) {
  width: 80px;
  height: 80px;
  left: 50%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(8) {
  width: 120px;
  height: 120px;
  left: 45%;
  top: 40%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(9) {
  width: 100px;
  height: 100px;
  left: 40%;
  top: 40%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(10) {
  width: 150px;
  height: 150px;
  left: 35%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(11) {
  width: 80px;
  height: 80px;
  left: 30%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(12) {
  width: 150px;
  height: 150px;
  top: 30%;
  left: 20%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(13) {
  width: 70px;
  height: 70px;
  top: 30%;
  left: 20%;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(14) {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 13%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(15) {
  width: 50px;
  height: 50px;
  top: 0%;
  left: 10%;
  background: #BADDB4;
}

.sec-1-5.bubble-wrapper .bubble:nth-child(16) {
  width: 180px;
  height: 180px;
  top: 30%;
  left: -5%;
}

.sec-2 {
  width: 100%;
  margin-top: -125px;
}

@media screen and (max-width: 768px) {
  .sec-2 {
    margin-top: 0px;
  }
}

.sec-2 .row {
  padding-top: 100px;
  height: 450px;
  background: #BADDB4;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sec-2 .row {
    height: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-bottom: 340px;
  }
}

@media screen and (max-width: 768px) {
  .sec-2 .row .wrapper:first-child {
    width: 125%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 768px) {
  .sec-2 .row .wrapper:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-bottom: -50px;
  }
}

.sec-2 .row .wrapper .parent-title {
  height: 24px;
  line-height: 24px;
  border-left: 5px solid #B4152F;
  padding-left: 5px;
}

.sec-2 .row .wrapper .parent-name {
  padding-left: 12px;
}

.sec-2 .row .wrapper .parents-1 {
  width: 350px;
  height: 350px;
  -webkit-clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
          clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
  background: url(../img/parents.jpg);
  background-size: cover;
  background-position: center;
  -webkit-animation: sec-1-pic-small 4s ease-in-out infinite;
          animation: sec-1-pic-small 4s ease-in-out infinite;
}

.sec-2 .row .wrapper .parents-2 {
  width: 350px;
  height: 350px;
  -webkit-clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
          clip-path: path("M312.785, 206.033q-9.245, 34.108-35.386, 55.426t-51.644, 45.587q-25.5, 24.269-58.02, 11.807a502.418, 502.418, 0, 0, 1-58.657-26.565, 432.651, 432.651, 0, 0, 1-52.6-33.78q-26.46-19.678-36.661-53.13t6.695-63.625A580.146, 580.146, 0, 0, 1, 61.578, 86.325a105.385, 105.385, 0, 0, 1, 45.906-36.732q27.735-11.479, 59.932-21.974t64.077, 3.28q31.879, 13.775, 43.674, 47.227A373.557, 373.557, 0, 0, 0, 304.5, 141.751Q322.03, 171.924, 312.785, 206.033Z");
  background: url(../img/parent-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-animation: sec-1-pic-small 4s ease-in-out infinite;
          animation: sec-1-pic-small 4s ease-in-out infinite;
}

.sec-2 .row .content-wrapper {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .sec-2 .row .content-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    width: auto;
    margin-bottom: 0;
  }
}

.sec-2 .row .content-wrapper .vege img {
  width: 250px;
}

.sec-2 .row .content-wrapper .title {
  width: 450px;
}

@media screen and (max-width: 768px) {
  .sec-2 .row .content-wrapper .title {
    width: auto;
  }
}

.sec-2 .bubble-wrapper {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 4;
}

.sec-2 .bubble-wrapper .bubble {
  background: #BADDB4;
}

.sec-2 .bubble-wrapper .bubble:nth-child(1) {
  left: -8%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(2) {
  right: -3%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(3) {
  right: 4%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(4) {
  right: 10%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(5) {
  left: 55%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(6) {
  left: 53%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(7) {
  left: 45%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(8) {
  width: 250px;
  height: 250px;
  bottom: -180px;
  left: 30%;
}

@media screen and (max-width: 768px) {
  .sec-2 .bubble-wrapper .bubble:nth-child(8) {
    left: 8%;
  }
}

.sec-2 .bubble-wrapper .bubble:nth-child(9) {
  width: 100px;
  height: 100px;
  bottom: -10px;
  left: 26%;
}

.sec-2 .bubble-wrapper .bubble:nth-child(10) {
  width: 200px;
  height: 200px;
  bottom: -130px;
  left: 15%;
}

@media screen and (max-width: 768px) {
  .sec-2 .bubble-wrapper .bubble:nth-child(10) {
    left: -5%;
  }
}

.sec-3 {
  width: 100%;
  margin-top: -250px;
}

@media screen and (max-width: 768px) {
  .sec-3 .content-wrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 768px) {
  .sec-3 iframe {
    width: 300px;
  }
}

.sec-3 .blank {
  width: 50%;
  height: 300px;
  background: orange;
}

.sec-3 .right {
  width: 50%;
  padding-top: 200px;
  background: rgba(255, 246, 217, 0.8);
}

@media screen and (max-width: 768px) {
  .sec-3 .right {
    padding-top: 40px;
    width: 100%;
    background: #fff6d9;
  }
  .sec-3 .right .content-wrapper {
    width: 300px;
  }
}

.sec-3 .right .title {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .sec-3 .right .title {
    width: auto;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
}

.sec-3 .right .des {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .sec-3 .right .des {
    width: auto;
  }
}

.sec-3 .right .card {
  margin-bottom: 100px;
  padding-bottom: 100px;
  background: #fcdd76;
}

@media screen and (max-width: 768px) {
  .sec-3 .right .card {
    width: 80%;
    padding-bottom: 100px;
    margin-top: 40px;
  }
}

.sec-3 .right .card form .title {
  width: 200px;
}

.sec-3 .right .card form .question-wrapper {
  padding: 0 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sec-3 .right .card form .question-wrapper {
    padding: 0 0px;
  }
}

.sec-3 .right .card form .question-wrapper .question {
  margin: 10px 0;
}

.sec-3 .right .card form .question-wrapper .question label {
  margin-bottom: 10px;
}

.sec-3 .carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .sec-3 .carousel {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 0;
  }
}

.sec-3 .carousel .img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.sec-3 .carousel .img:nth-child(1) {
  background: url(../img/3-1.jpg);
  background-size: 120%;
  background-position: 150% 10%;
  background-attachment: fixed;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .sec-3 .carousel .img:nth-child(1) {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
}

.sec-3 .carousel .img:nth-child(2) {
  background: url(../img/3-2.jpg);
  background-size: 120%;
  background-position: 150% 10%;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .sec-3 .carousel .img:nth-child(2) {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
}

.sec-3 .carousel .img:nth-child(3) {
  background: url(../img/3-3.jpg);
  background-size: 120%;
  background-position: 150% 10%;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .sec-3 .carousel .img:nth-child(3) {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
}

.sec-3 .carousel .img:nth-child(4) {
  background: url(../img/3-4.jpg);
  background-size: 120%;
  background-position: 150% 10%;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .sec-3 .carousel .img:nth-child(4) {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
}

#twzipcode {
  margin-bottom: 12px;
}

#twzipcode select {
  margin-right: 5px !important;
  height: 36px;
}

input[name="zipcode"] {
  width: 100px;
  margin-right: 10px;
}

.footer {
  padding: 5px 0;
  line-height: 16px;
  width: 100%;
  background: #BADDB4;
  bottom: 0;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 16px;
  }
}

.credit {
  background: darkgray;
  line-height: 12px;
  padding: 5px 0;
}

.credit a:link,
.credit a:hover,
.credit a:active,
.credit a:visited {
  font-size: 12px;
  line-height: 12px;
  color: black;
}
/*# sourceMappingURL=all.css.map */